section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

section > * {
  min-width: max(350px, 75%);
}

strong {
  display: inline-block;
  width: 100%;
  border-bottom: 2px solid var(--main-color);
  padding-left: 2rem;
  padding-bottom: 0.2rem;
}

ul {
  margin-top: 1rem;
}

ul > li {
  margin-left: 1rem;
  margin-bottom: 0.5rem;
}

ul > li::marker {
  color: var(--main-color);
}
