html {
  background-color: var(--light-color);
}

:root {
  scroll-behavior: smooth;

  --font: hsl(0, 0%, 15%);
  --main-color: hsl(240, 100%, 70%);
  --btn-color: hsl(200, 100%, 50%);
  --light-color: hsl(0, 0%, 85%);
  --lighter-color: hsl(0, 0%, 95%);
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: var(--font);
  font-family:
    'Roboto Mono', system-ui, 'Segoe UI', Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji';
}

* {
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

a:visited {
  color: inherit;
}

a[href='#preview'] {
  display: none;
  padding-block: 0.5rem;
  color: var(--main-color);
  background-color: var(--lighter-color);
}

button {
  background-color: var(--btn-color);
  color: var(--lighter-color);
  padding: 0.5rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  margin-top: 1rem;
  width: 150px;
  align-self: center;
}

button:disabled {
  opacity: 0.3;
  cursor: default;
}

button:not(:disabled):active {
  background-color: hsl(200, 100%, 45%);
}

.delete-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.delete-btn > svg {
  height: 20px;
  width: auto;
}

main {
  background-color: var(--light-color);
  display: flex;
  flex: 1;
}

main > * {
  flex: 1;
  min-width: 0;
  padding: 2rem 1rem;
}

header,
footer {
  background-color: var(--main-color);
  color: var(--lighter-color);
  text-align: center;
  padding-block: 1rem;
}

header {
  font-size: 2rem;
}

footer {
  font-size: 0.8rem;
}

@media (hover: hover) {
  button:not(:disabled):hover {
    background-color: hsl(200, 100%, 45%);
  }
}

@media (max-width: 1000px) {
  main {
    flex-direction: column;
  }

  main > * {
    flex: 0 0 auto;
  }

  a[href='#preview'] {
    display: inline;
  }
}

@media print {
  :root,
  html,
  body {
    background: #fff !important;
  }

  #root * {
    visibility: hidden;
  }

  #preview,
  #preview * {
    visibility: visible;
  }

  #preview {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding: 0 !important;
    margin: 0 !important;
    background: #fff !important;
  }

  header,
  footer,
  form,
  button,
  a[href='#preview'] {
    display: none !important;
  }
}
